//  Sass function for converting an input string to CamelCase. Defaults
//  to UpperCamelCase. For lowerCamelCase, pass $lower as `true`.
//  ————————————————————————————————————————————————————————————————————
@function camelise($string, $lower: false)
	$result: ""
	$exclude: " ", "-", "–", "—", "_", ",", ";", ":", ".", "(", ")", "[", "]", "'", '"'
	$buffer: $string
	// loop through each character of the buffer
	@for $i from 1 through str-length($buffer)
		// slice the current character from the buffer
		$char: str-slice($buffer, $i, $i)
		@if $i == 1
			// if the character is an excluded character…
			@if not not index($exclude, $char)
				// …don't add it to the result string we're building
				$result: $result
			@else if $lower == true
				// …otherwise change its case, based on $lower
				$result: to-lower-case($char)
			@else
				$result: to-upper-case($char)
		@else
			$prev: str-slice($buffer, $i - 1, $i - 1)
			@if not not index($exclude, $char)
				$result: $result
			@else if not not index($exclude, $prev)
				$result: $result + to-upper-case($char)
			@else
				$result: $result + $char
	@return $result